<h1>Bonjour</h1>

<p>
    Merci de confirmer votre inscription en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation de votre inscription à Intrasso</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement.
</p>
